.navbar-brand{
    padding: 0;
}

.navbar>.container{
    display: block;
}

.navbar-default .navbar-toggle:hover{
    background-color: #fff;
}

.navbar-default .navbar-toggle{
    border-color: none;
}