@media screen and (min-width: 768px) {
    .bar_mobile{
        display: none;
    }

    #sidebar{
        display: none;
    }

    #sidebarCollapse{
        display: none;
    }

    .button_nav{
        display: none;
    }

    #app-navbar-collapse{
        display: flex !important;
    }

    .navbar{
        justify-content: space-between !important;
    }

    #content{
        min-height: 0;
    }

    .content{
        margin: 0px;
    }

    #search_desktop{
        display: flex;
    }

    .search{
        background-color: $bleu;
        position: absolute;
        width: 660px !important;
        height: 369px;
        right: 0;
        top: 150px;
        z-index: 500;
        box-shadow: 0px 0px 15px $black;
        opacity: 0.70;
    }
    
    .search:hover{
        opacity: 1;
    }

  }