.main{
    display: flex;
    margin: 0 auto;
  width:1300px;
    padding: 20px;
}

.main-content{
  display: flex;
  margin: 0 auto;
  width:1300px;
  padding: 20px;
}

.card-promotion{
    background-color: $blanc !important;
    border: 1px solid $bleu !important;
}

.form-horizontal-promo{
  width:100% !important;
  padding: 20px;
}

.glyphicon {
  font-size: 15px !important;
}

.commentaire{
  display: flex !important;
  flex-direction: row !important;
}

.groupButtonMagasins{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.magasin-promo-show{
  display: flex;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 768px){
    .main{
        display: none;
      width: 100% !important;
    }

    .main-content{
        width: 95%;
    }

  .listPromo{
    flex-direction: column !important;
  }

  .magasin-promo-show{
    flex-direction: column;
  }
  .commentaire{
    display: block !important;
    flex-direction: column !important;
  }
  .groupButtonMagasins{
    flex-direction: column;
  }
}