#map{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.search{
    display: block !important;
}

.titleSearch{
    width: 100%;
    font-family: UnicaOne !important;
    color: $blanc;
}

.rechercher{
    text-align: center;   
    font-size: 25px !important;
}


#button-addon2{
    margin-left: 10px !important;
}

@media (max-width: 768px){
    #search{
        display: none;
    }
    .search{
        max-width: 100%;
    }
}