#map{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.search{
    width: 670px !important;
}

@media (max-width: 768px){
    #search{
        display: none;
    }
    .search{
        max-width: 100%;
    }
}